{% extends 'KilikTableDemoBundle::layout.html.twig' %}

{% block body %}

    {% embed "KilikTableDemoBundle:Product:_list.html.twig" with {"table": table} %}
        {% block tableTitle %}
            <b>Products list</b>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path("tabledemo_index") }}"><span class="glyphicon glyphicon-home"></span> return to examples list</a></li>
                <li><a href="#" class="refreshOnClick"><span class="glyphicon glyphicon-refresh"></span>Refresh</a></li>
            </ul>
        {% endblock tableTitle %}
    {% endembed %}

{% endblock body %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            var table = new KilikTable("{{ table.id }}", "{{ table.path }}",
                    {
                        "sortColumnClassSorted": "glyphicon-sort-by-attributes",
                        "sortColumnClassSortedReverse": "glyphicon-sort-by-attributes-alt"
                    }
            );
            table.init();
            // callback after list reload
            table.afterReload = function () {
                console.log("test callback");
            }
        });
    </script>

{% endblock javascript %}
