{% extends '@KilikTableDemo/layout.html.twig' %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="sm-12">
                {% embed "@KilikTableDemo/ApiDemo/_list.html.twig" with {"table": table} %}
                    {% block tableTitle %}
                        <b>User (via API) list</b>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ path("tabledemo_index") }}"><span class="glyphicon glyphicon-home"></span> return to examples list</a></li>
                            <li><a href="#" class="refreshOnClick"><span class="glyphicon glyphicon-refresh"></span> Refresh</a></li>
                        </ul>
                    {% endblock tableTitle %}
                {% endembed %}
            </div>
        </div>

        <div class="row">
            <div class="sm-12">
                <br/>
                <div class="alert alert-danger">
                    Warning the demo api used (https://reqres.in/) doesn't handle filtering, sorting, or pagination.<br/>
                    It's the reason why you can't navigate between pages.
                </div>
            </div>
        </div>
    </section>

{% endblock body %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            var table = new KilikTable("{{ table.id }}", "{{ table.path }}", JSON.parse('{{ table.options | json_encode |raw }}'));

            table.init();
        });
    </script>

{% endblock javascript %}
