{% extends 'KilikTableDemoBundle::layout.html.twig' %}

{% block body %}

    <section class="container">
        <div class="row">
            <div class="sm-12">
                {% embed "KilikTableBundle::_defaultTable.html.twig" with {"table": table} %}
                    {% block tableTitle %}
                        <b>Contacts list</b>
                        <div class="navbar navbar-right">
                            <a href="{{ path("tabledemo_index") }}"><span class="glyphicon glyphicon-home"></span> return to examples list</a>
                        </div>
                    {% endblock tableTitle %}
                {% endembed %}
            </div>
        </div>
    </section>

{% endblock body %}


{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            var table = new KilikTable("{{ table.id }}", "{{ table.path }}");
            table.init();
        });
    </script>

{% endblock javascript %}
