<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Kilik/TableDemoBundle</title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css"  href="{{ asset('css/style.css') }}{% if app.environment == "dev" %}?t={{ "now"|date("YmdHis") }}{% endif %}" />
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css"  href="/bundles/kiliktable/css/KilikTable.css{% if app.environment == "dev" %}?t={{ "now"|date("YmdHis") }}{% endif %}" />
        <script type="text/javascript" src="/bundles/kiliktable/js/KilikTable.js"></script>
    </head>
    <body>
        {% block body %}
        {% endblock body %}
        {% block javascript %}
        {% endblock javascript %}
    </body>
</html>